<div ng-include="'partials/navbar.html'"></div>

<script type="text/ng-template" id="newEdictForm.html">
  <div class="modal-header">
      <h3 class="modal-title">Adicione novo Edital!</h3>
  </div>
  <div class="modal-body">
    <form class="form" name="form" ng-submit="register(form)" novalidate>
      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
        <label>Name</label>

        <input type="text" name="name" class="form-control" ng-model="member.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
        <label>Cidade</label>

        <input type="text" name="name" class="form-control" ng-model="member.name"
               required/>
        <p class="help-block" ng-show="form.name.$error.required && submitted">
          A name is required
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form['formalGroup.kind'].$valid && submitted,
                                          'has-error': form['formalGroup.kind'].$invalid && submitted }">
        <label>Estado</label>

        <select class="form-control" ng-model="user.formalGroup.kind" ng-options="kind for kind in kinds" required mongoose-error>
          <option value="">MG</option>
        </select>

        <p class="help-block" ng-show="form['formalGroup.kind'].$error.required && submitted">
          What's your DAP?
        </p>
        <p class="help-block" ng-show="form['formalGroup.kind'].$error.mongoose">
          {{ errors['formalGroup.dap'] }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form['formalGroup.kind'].$valid && submitted,
                                          'has-error': form['formalGroup.kind'].$invalid && submitted }">
        <label>Início</label>

        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>

        <p class="help-block" ng-show="form['formalGroup.kind'].$error.required && submitted">
          What's your DAP?
        </p>
        <p class="help-block" ng-show="form['formalGroup.kind'].$error.mongoose">
          {{ errors['formalGroup.dap'] }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form['formalGroup.kind'].$valid && submitted,
                                          'has-error': form['formalGroup.kind'].$invalid && submitted }">
        <label>Término</label>

        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>

        <p class="help-block" ng-show="form['formalGroup.kind'].$error.required && submitted">
          What's your DAP?
        </p>
        <p class="help-block" ng-show="form['formalGroup.kind'].$error.mongoose">
          {{ errors['formalGroup.dap'] }}
        </p>
      </div>

      <div class="form-group" ng-class="{ 'has-success': form.file.$valid && submitted,
                                            'has-error': form.file.$invalid && submitted }">
        <label>Arquivo PDF do Edital</label>

        <input type="file" name="name" class="form-control" ng-file-select="onFileSelect($files)"
               required/>
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class"
            ng-show="dropSupported"></div>
        <div ng-file-drop-available="dropSupported=true"
             ng-show="!dropSupported"></div>

        <p class="help-block" ng-show="form.file.$error.required && submitted">
          Um arquivo is required
        </p>
        <progressbar class="progress-striped active" value="progress" type="success">{{progress}}%</progressbar>
      </div>

      <button class="btn btn-lg btn-primary" type="submit" ng-disabled="!submittable">Registrar</button>
    </form>
  </div>
  <div class="modal-footer">
    <a class="btn btn-lg btn-warning" ng-click="cancel()">Cancelar</a>
  </div>
</script>

<div class="row">
  <div class="col-sm-12">
    <h1>Vendas</h1>
  </div>
  <div><a class="btn btn-primary" ng-click="open()">Adicionar nova Venda</a></div>
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#ID</th>
          <th>Produtor</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Valor Total</th>
          <th>Origem</th>
          <th>Data</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td>1</td>
          <td>Felipe Mammoli</td>
          <td>Batata</td>
          <td>100,00 (KG)</td>
          <td>275,00 (R$)</td>
          <td><a>PNAE 2014 Itjubá</a></td>
          <td>10/02/2014</td>
          <td><a class="btn btn-info" ng-href="/edicts/1">Detalhes</a></td>
        </tr>
        <tr >
          <td>2</td>
          <td>Edinilson</td>
          <td>Alface</td>
          <td>100 (Un)</td>
          <td>130,00 (R$)</td>
          <td><a>PNAE 2014 Itjubá</a></td>
          <td>10/02/2014</td>
          <td><a class="btn btn-info" ng-href="/edicts/1">Detalhes</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

